<div style="display: flex;
  align-items: center; margin-left: 30px;
">
  <form [formGroup]="form">

    <mat-form-field appearance="outline" style="margin-top: 20px; margin-left: 20px;">
      <mat-label>
        Search for a character</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
    <button mat-raised-button (click)="enviar()" [disabled]="!form.value.nome">Search </button>
    
  </form>
  <button mat-raised-button style = "margin-top: 10px;" (click)="todos()">All</button>
  <h3 style="margin-left: 20px; margin-top: 25px;">Data provided by Marvel. © 2014 Marvel</h3>
</div>
<div style="display: flex; flex-wrap: wrap;">
  <ng-container *ngIf="ok == true && naoTem == false">
    <div *ngFor="let  personagem of personagens">
      <mat-card class="example-card" style="margin-left: 50px; margin-bottom: 20px">
        <mat-card-header>
          <mat-card-title>{{personagem.name}}</mat-card-title>
          <mat-card-subtitle>Marvel's character</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{personagem.thumbnail.path}}.{{personagem.thumbnail.extension}}"
          alt="Photo of character">
        <mat-card-content>
          <p>
            {{personagem.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </ng-container>
  <ng-container *ngIf="ok == true && naoTem == true">
    <h3 style="margin-left: 30px;">No results were found for this search :(</h3>
  </ng-container>
</div>