<div style="display: flex; flex-wrap: wrap;">
<ng-container *ngIf="ok == true">
    <div *ngFor="let  personagem of personagens">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{personagem.name}}</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src = "{{personagem.thumbnail.path}}.{{personagem.thumbnail.extension}}"
            alt="Photo of character">
            <mat-card-content>
              <p>
                {{personagem.description}}
              </p>
            </mat-card-content>
          </mat-card>
    </div>
   
</ng-container>
</div>